<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo"
           placeholder="What needs to be done?"
           onkeydown={{action onNewTodoKeyDown}}
           autofocus>
  </header>

  <section class="main">
    {{#if canToggle}}
      <input type="checkbox" class="toggle-all" id="toggle-all" checked={{allCompleted}} onchange={{action toggleAll}}>
      <label for="toggle-all">Mark all as complete</label>
    {{/if}}

    <ul id="todo-list" class="todo-list">
      {{#each visibleTodos key="id" as |todo|}}
        <todo-item @todo={{todo}}
                   @onEdit={{action editTodo}}
                   @onToggle={{action toggleTodo}}
                   @onDestroy={{action removeTodo}} />
      {{/each}}
    </ul>
  </section>

  {{#if todos.length}}
    <footer class="footer">
      <span class="todo-count">
        <strong>{{activeTodos.length}}</strong>
        {{#if (eq activeTodos.length 1)}}
          item
        {{else}}
          items
        {{/if}}
        left
      </span>
      <ul class="filters">
        <li><a href="#/" class="{{if (eq mode 'all') "selected"}}">All</a></li>
        <li><a href="#/active" class="{{if (eq mode 'active') "selected"}}">Active</a></li>
        <li><a href="#/completed" class="{{if (eq mode 'completed') "selected"}}">Completed</a></li>
      </ul>
      {{#if completedTodos.length}}
        <button class="clear-completed" onclick={{action clearCompleted}}>Clear completed</button>
      {{/if}}
    </footer>
  {{/if}}
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>
    Created by
    <a href="https://github.com/glimmerjs/todomvc-demo/graphs/contributors">Glimmer.js contributors</a>
  </p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
